<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="css/menu.css">
    <title>Update information</title>
</head>
<body>
    <div class="title"><h1 style ="margin-left : 15px;">Connect with your smart house !</h1>
    </div> 
        <div class = "bloc" > 
            <div class = "formNew" style = "width : 330px;">

                <div>
                    <h3>Create a new category !</h3>
                    
                    {{form_start(formCategory)}}

                        <div class="from-group">
                            <label for="">Name of the category : </label>
                            {{form_widget(formCategory.Name)}}<br>

                            {{form_widget(formCategory.save, {'attr': {'class' : "btn btn-success", "style" : "margin-top : 10px;"}})}}<br>
                        </div>
                    
                    {{form_end(formCategory)}}

                
                    <form action = "/" style = "float : right;">
                        <button onclick= "/" class="btn btn-warning">Back to menu</button>
                    </form>
                </div>
            </div>

            <div class = "formNew" style = "width : 330px;">
                <div style = "height : 200px;">
                    <h3>Delete a category !</h3>
                    
                    {{form_start(formDelete)}}

                        <div class="from-group">
                            <label for="">Name of the room : </label>
                            {{form_widget(formDelete.Category)}}<br>

                            {{form_widget(formDelete.save, {'attr': {'class' : "btn btn-danger", "style" : "margin-top : 10px;"}})}}<br>
                        </div>
                    
                    {{form_end(formDelete)}}

                
                    <form action = "/" style = "float : right;">
                        <button onclick= "/" class="btn btn-warning">Back to menu</button>
                    </form>
                </div>
            </div>
        </div>

</body>
</html>