<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="css/menu.css">
    <title>Update information</title>
</head>
<body>
    <div class="title"><h1 style ="margin-left : 15px;">Connect with your smart house !</h1>
    </div> 
    <div class="formNew" style = "width : 400px; height : 250px;"> 
        <div style = "margin-left : 15px;">
            <h3>Add your new sensor here ! </h3>
            
            {{form_start(formNewSensor)}}

                <div class="from-group">
                    <label for="">Name : </label>
                    {{form_widget(formNewSensor.Name,{'attr': { "style" : "margin-left : 20px; margin-bottom : 10px;"}})}} <br>

                    <label for="">Category : </label>
                    {{form_widget(formNewSensor.Category,{'attr': { "style" : "margin-bottom : 10px;"}})}} <br>

                    <label for="">Room : </label>
                    {{form_widget(formNewSensor.Room,{'attr': { "style" : "margin-left : 20px;"}})}}<br>

                    {# {{form_widget(formNewSensor.save, {'attr': {'class' : "btn btn-success"}})}}<br>
                </div> #}
                    <button type="submit" class ="btn btn-success" style = "margin-top : 10px;">Create</button><br>
            
            {{form_end(formNewSensor)}}

            <form action = "/menu" style = "float : right;">
                <button onclick= "/menu" class="btn btn-warning">Back to menu</button>
            </form>
        </div>
    </div>

  

</body>
</html>